<% if @soccer_field.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t(".contains") %> <%= pluralize(@soccer_field.errors.count, t(".error")) %>.
    </div>
    <ul>
      <% @soccer_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
