@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* error */

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: red;
  }
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $white;
  text-decoration: none;
}

.soccer_field {
  width: 100%;
  height: 100vh;
  margin-top: -10px;
}

/* soccer_fields */
.soccer_fields {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 0;
    border-top: 1px solid $white;
  }

  .name {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
