<footer class="main-footer">
  <div class="float-right d-none d-sm-inline">
    <%= t ".anything" %>
  </div>
  <strong><%= t(".copyright") %> &copy; 2022 <%= link_to "SoccerField", "#" %>.</strong>
  <%= t ".all_rights" %>
</footer>
