<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
      <li>
        <%= link_to new_admin_soccer_field_path do %>
          <i class="fa fa-fw fa-user-plus"></i> <%= t(".create_field") %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-fw fa-paper-plane-o"></i> <%= t(".manage_orders") %>
        <% end %>
      </li>
  </ul>
</div>
